* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;

}

body{
    height: 100vh;
    background: url('ven3.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    width: 360px;
    padding: 25px;
    border-radius: 15px;

    background: rgb(255,255,255, 0.08);
    backdrop-filter: blur(10px);
    
    border: 1px solid rgb(255,255,255,0.2);
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);

    text-align: center;
    color: solid rgb(255,255,255, 0.10);

    animation: fadeIn 1s eas-in-out6;
}

.box h2{
    margin-bottom: 15px;
    font-size: 22px;
    letter-spacing: 1px;

}

.box center {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.box center {
    color: #1556b7;

}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translate(30px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

    
