html,body{
    height: 100%;
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial,sans-serif;
    background-image: url('ven2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    
.form-box{
    width: 350px;
    margin: auto;
    margin-top: 150px;
    padding: 30px;
    background: rgb(255,255,255,0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgb(0,0,0,0.3);


}

h1{
    margin-bottom: 20px;
    color: rgb(9, 42, 86);
}

label{
    font-family: arial,sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    


}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    outline: none;
    font-size: 16px;

    transition: 0.3s;
}

input[type="number"]:focus {
    transform: scale(1.05);
    box-shadow: 0 0 10px #00c6ff;
}

button{
    width: 85%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;


}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #0072ff, #00c6ff);


}

@keyframes fadeIn {
    form{
        opacity: 0;
        transform: translateY(-30px);

    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}
    

